<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.facebook.com/ginadoeswanderlust/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/wanderlustmag/?hl=en"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/company/wanderlust/?originalSubdomain=uk"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="company">&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="">Terms and Conditions</a>
            <a href=""> Privacy Policy</a>
        </div>
    </div>
    
</footer>